.flex {
    display: flex;
    
}
.header {
    background: url(../../assets/background-header.png);
    margin: 15px;
    height: 760px;
}
.header-container {
    padding: 15px;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-container a{
    text-decoration-line: none;
    color: black;
}
.header-container-item {
    margin: 5px 10px;
    font-weight: bold;
    color: black;
}
.header-pic {
    background: url(../../assets/header-pic.png) no-repeat no-repeat center;
    display: block;
    height: 600px;
}

