.todo {
  width: 300px;
  min-height: 350px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list__block {
  min-height: 300px;
  width: 100%;
  background-color: antiquewhite;
}

.todo__list {
  padding: 0;
}

.list__added {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  height: 30px;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 0;
}

.list__added p, .item__text {
  width: 80%;
  margin: 0;
}

.actions {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done {
  width: 50%;
  height: 30px;
  background-image: url('./assets/check.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}

.delete {
  width: 50%;
  height: 30px;
 background-image: url('./assets/delete.png'); 
  background-size: contain;
  background-repeat: no-repeat;
}

.finished{
  text-decoration: line-through;
  background: rgb(255, 99, 99);
}

.finished .done{
  text-decoration: line-through;
  background: rgb(255, 99, 99);
   background-image: url('./assets/restart.png'); 
  background-size: contain;
  background-repeat: no-repeat;
}

.ant-btn-primary{
  background: red;
}